/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* Comon styles */
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
.container{
    background: #FFFFFF;
    width: 870px;
    padding: 33px;
    border-radius: 5px;
    margin-top: 21px;
}
hr{
    margin-top: 30px;
    border: 1px solid #D1D1D1;
}
/* Top players and top blogs style */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-player h1{
    font-weight: 500px;
    color: #562EFF;
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player h6{
    font-size: 18px;
    padding-left: 16px;
}

/* Top blogs section style */
.top-blogs h1{
    margin: 30px 0;
    color: #562EFF;
}
.main-article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 24px;
}
article{
    display: flex;
}
article .thumbnail img{
    width: 177px;
}
.article-detail{
    margin-top: 5px;
    margin-left: 16px;
}
.article-detail h5{
    font-weight: 500px;
    font-size: 20px;
}
.article-detail small a{
    font-weight: 400px;
    font-size: 16px;
    color: #562EFF;
    text-decoration: none;
}
.article-detail small{
    color: #9F9F9F;
    font-size: 16px;
}

/* Latest Course Section Style */
.latest-margin-btm{
    margin-bottom: 27px;
}
.latest-title{
    margin-bottom: 15px;
    color: #562EFF;
}
.latest-course{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course{
    box-shadow: 5px 3px 10px rgb(245 245 245);
    padding: 10px;
    border-radius: 20px;
}
.course-detail img{
    width: 224px;
    height: 104px;
}
.course-detail h3{
    font-size: 20.03px;
    font-weight: 500;
}
.course-detail small{
    color: #ED6B4F;
    font-weight: 400;
    font-size: 14.69px;
}
.course-rating-info{
    display: flex;
    align-items: center;
}
.course-rating-info small{
    margin-left: 10px;
    font-size: 14.69px;
}
.field-ratting{
    color: #FFC014;
}
.empty-ratting{
    color: #AEAEAE;
}
.fa-star{
    font-size: 14px;
}
.course-duration{
    margin-left: 26px;
    font-size: 14.69px;
    background-color: #FFE4E8;
    padding: 5px 10px;
    color: #FF4A60;
    border-radius: 20px;
    font-weight: 500;
}

/* Media Query  */
/* Mobile Device */
@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    }
    .players, .main-article, .latest-course{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, article{
        flex-direction: column;
        align-items: center;
    }
    .course{
        display: flex;
        flex-direction: column;
    }
}

/* iPad Devices */
@media only screen and (min-width:688px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .players, .main-article{
        grid-template-columns: repeat(2, 1fr);
    }
    .latest-course{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
    }
}